/* .stations_status_body_container h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
}

.stations_status_body_container h2, h3, h4, h5, h6 {
  margin: 0;
}

.stations_status_body_container p {
  margin: 0;
} */