/** @format */
.stations_sections {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.stations_item_data {
  width: 100%;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(2, 1fr);
}

.stations_more_info_card {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.stations_more_info_item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.stations_more_info_card h4{
  font-size: 1.1rem;
}

.squer_card_custom {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.stations_more_info_header {
  text-align: center;
}

.grid_electr_and_agrigate {
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
}

.more_info_header_data {
  margin: 10px 0;
  text-align: center;
}