/* .global_sections_style h1 {
  font-size: 20px;
  margin: 0;
}

.global_sections_style h2, h3, h4, h5, h6 {
  margin: 0;
}

.global_sections_style p {
  margin: 0;
}

.dashboard_last_data_card_header > h2 {
  font-size: 20px;
} */
