.dashboard_wrapper_districts_list_card {
  color: #000000;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
}
.dashboard_wrapper_districts_list_card h3 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #000000;
}
.dashboard_wrapper_districts_list_card .dashboard_wrapper_districts_list_info {
  margin-top: 15px;
  font-size: 18px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #EAEEFE;
  border-radius: 8px;
  transition: transform 0.4s ease, background 0.4s ease;
}

.dashboard_wrapper_districts_list_info:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 22px;
}

.dashboard_wrapper_districts_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}
